.hero-image {
    background-image: url(../../images/header-image.jpg);
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

nav {
    height: 80px;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    top: 0;
    position: fixed;
    top: 0px;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 0);

    &.stick {
        z-index: 999;
        background-color: rgba(0, 0, 255, 0.55);
        transition: .3s;
    }

    &.stick-none {
        transition: .3s;
        background-color: unset;
    }

    img.website-logo {
        width: 55px;
        height: 45px;
        margin: 10px;
        display: inline
    }

    ul.menu-nav {
        display: inline-block;
        // margin: 0 auto;
        margin-top: 8px;
        float: left;

        &.menu-user {
            margin-left: auto;
        }

        li {
            display: inline;
            margin: 0 5px;

            a {
                //color: #2b2b2b;
                color: white;
                text-transform: uppercase;
                border-bottom: 2px solid transparent;
                transition: 0.4s;
                position: relative;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    width: 0%;
                    height: 100%;
                    transition: 0.25s;
                    border-bottom: 2px solid red;
                }

                &:hover {
                    color: red;

                    &::before {
                        width: 100%;
                    }
                }
            }

            &.active a {
                color: red;
            }
        }
    }
}
