@import '../variables.scss';

.hero-image {
    background-image: url(../../images/header-image.jpg);
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

header {
    width: 100%;
    height: 75px;
    position: fixed;

    &.stick {
        z-index: 999;
        background-color: white;
        transition: .3s;

        .menu-nav {
            li:not(.active) a {
                color: $gray;

                &:hover {
                    color: $pink;
                }
            }
        }
    }

    &.stick-none {
        transition: .3s;
        background-color: unset;
    }

    nav {
        height: 75px;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 30px;
        width: 100%;
        top: 0;
        z-index: 999;

        img.website-logo {
            width: 55px;
            height: 45px;
            margin: 10px;
            display: inline
        }

        ul.menu-nav {
            display: inline-block;
            margin-top: 8px;
            float: left;

            &.menu-user {
                margin-left: auto;
            }

            li {
                display: inline;
                margin: 0 5px;

                a {
                    color: white;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                    transition: 0.4s;
                    position: relative;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        width: 0%;
                        height: 100%;
                        transition: 0.25s;
                        border-bottom: 2px solid $pink;
                    }

                    &:hover {
                        color: $pink;

                        &::before {
                            width: 100%;
                        }
                    }
                }

                &.active a {
                    color: $pink;
                }
            }
        }
    }
}
