@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/raleway/Raleway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway SemiBold';
  src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/raleway/Raleway-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway Light';
  src: url("../fonts/raleway/Raleway-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway ExtraLight';
  src: url("../fonts/raleway/Raleway-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/raleway/Raleway-Thin.ttf") format("truetype"); }

.hero-image {
  background-image: url(../../images/header-image.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

header {
  width: 100%;
  height: 75px;
  position: fixed; }
  header.stick {
    z-index: 999;
    background-color: white;
    transition: .3s; }
    header.stick .menu-nav li:not(.active) a {
      color: #2B2B2B; }
      header.stick .menu-nav li:not(.active) a:hover {
        color: #FF0175; }
  header.stick-none {
    transition: .3s;
    background-color: unset; }
  header nav {
    height: 75px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    top: 0;
    z-index: 999; }
    header nav img.website-logo {
      width: 55px;
      height: 45px;
      margin: 10px;
      display: inline; }
    header nav ul.menu-nav {
      display: inline-block;
      margin-top: 8px;
      float: left; }
      header nav ul.menu-nav.menu-user {
        margin-left: auto; }
      header nav ul.menu-nav li {
        display: inline;
        margin: 0 5px; }
        header nav ul.menu-nav li a {
          font-family: "Raleway Medium";
          color: white;
          text-transform: uppercase;
          border-bottom: 1.5px solid transparent;
          transition: 0.4s;
          position: relative; }
          header nav ul.menu-nav li a::before {
            content: '';
            position: absolute;
            bottom: -3px;
            width: 0%;
            height: 100%;
            transition: 0.25s;
            border-bottom: 1.5px solid #FF0175; }
          header nav ul.menu-nav li a:hover {
            color: #FF0175; }
            header nav ul.menu-nav li a:hover::before {
              width: 100%; }
        header nav ul.menu-nav li.active a {
          color: #FF0175; }
  @media (max-width: 767px) {
    header {
      background-color: rgba(60, 179, 113, 0.8); }
      header.mobile-menu-expanded {
        height: 100vh;
        overflow-y: hidden;
        transition: 0.5s; }
        header.mobile-menu-expanded.stick-none {
          background-color: white; }
      header.mobile-menu-collapsed {
        height: 75px;
        transition: 0.5s; }
      header nav #toggleMenu {
        display: unset !important;
        position: absolute;
        right: 10px;
        top: 10px; }
        header nav #toggleMenu .hamburger-inner, header nav #toggleMenu .hamburger-inner::before, header nav #toggleMenu .hamburger-inner::after {
          background-color: rgba(179, 0, 255, 0.88); }
      header nav .menu-items .menu-nav {
        display: none; } }
